body {
    background-color: rgb(255, 255, 255);
    padding-top: 75px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
header {  
    height: 75px;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(253, 211, 93);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
nav {
    text-align: right;
}
#title {
    font-size:50px;
}
.q {
    font-size: 20px;
    text-shadow:4px 4px 4px rgb(253, 211, 93);
}
.a {
    font-size: 18px;
}
