body {
    background-color: rgb(255, 255, 255);
    padding-top: 75px;
}
header {  
    height: 75px;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(0, 119, 255);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
nav {
    text-align: right;
}